body {
    background-color: #f0f0f0;
    color: #443200;
    line-height: 1.6;
}
.artesanias-section {
  background: linear-gradient(to right, #fff385, #ffffff);
  padding: 20px 20px;
  margin-top: 100px;
  margin: 100px 0 30px 0;
  max-width: 100%;
  width: 100vw;
  height: 900px; /*error aca en portatil*/
  margin-bottom: -80px; /*error aca en portatil*/
}

.intro-artesanias {
  text-align: center;
  margin: 60px auto 40px;
  max-width: 900px;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  line-height: 1.5;
  padding: 0 20px;
}
.intro-artesanias h2 {
  font-size: 2.5em;
  font-weight: 600;
  color: #473100;
  margin-bottom: 10px;
}

.intro-artesanias p {
  font-size: 1.2em;
  font-family: 'sans-serif', sans-serif;
  color: #000000;
  margin: 0 auto;
  max-width: 800px;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card {
    width: 250px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}
.card img {
    width: 100%;
    height: auto;
}
.card-content {
    padding: 16px;
    text-align: center  ;
}
.card-content h3 {
    margin: 18px;
    margin-bottom: 10px;
}
.card-content p {
  
    color: #000000;
    font-size: 15px;
    line-height: 1.3;
}
.card-content .btn {

    display: inline-block;
    margin-top: 12px;
    padding: 5px 20px;
    background-color: #b17301fb;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}


.card-content .btn:hover {
  background-color: #e7bb68;
  color: #000000;
  transform: scale(1.05);
}